<template name="submitLink">
	<div class="container">
		<h1>New Link</h1>
		<div class="row">
			<form class="col s10 offset-s1">
				<div class="input-field">
					<input id="title" name="title" type="text" class="validate" autofocus>
					<label for="title">Title</label>
				</div>
				<div class="input-field">
					<input id="url" name="url" type="text" class="validate">
					<label for="url">Url</label>
				</div>
				<button class="btn waves-effect waves-light" type="submit">Create Link</button>
			</form>
		</div>
	</div>
</template>